<ion-app>
  <ion-header [translucent]="false">
    <ion-toolbar>
      <ion-title class="title">{{ title }}</ion-title>
      <ion-badge slot="end">{{ toDoList.length }}</ion-badge>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-header [translucent]="true" collapse="condense">
      <ion-toolbar>
        <ion-title class="title">{{ title }}</ion-title>
        <ion-item>
          <ion-badge slot="end" class="iosOnly">{{ toDoList.length }}</ion-badge>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <div *ngIf="pinnedTask" class="pin">
      <h4>Tâche épinglée</h4>
      <p>{{ pinnedTask.title }}</p>
    </div>
    <ion-list>
      <ion-list-header>
        <ion-label class="labels">Tâches en cours</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let todo of toDos">
        <ion-item-sliding class="task">
        <ion-item-options color='warning' side="start" (ionSwipe)="pin(todo)">
          <ion-item-option expandable (click)="pin(todo)">Epingler</ion-item-option>
        </ion-item-options>
        <ion-checkbox type="checkbox" labelPlacement="start" name="checkbox"
          (ionChange)="saveTasks()"
          [class.done]="todo.done"
          [checked]="todo.done"
          [(ngModel)]="todo.done">
        </ion-checkbox>
        <ion-label class="taskTitle">{{ todo.title }}</ion-label>
        <img alt="Icône de tâche" src="../assets/icon/icon ({{todo.icon}}).svg" class="taskIcon" />
        <ion-item (click)="deleteTask(todo)">
          <ion-icon name="close-outline"></ion-icon>
        </ion-item>  
        <ion-item-options side="end"  (ionSwipe)="deleteTask(todo)">
          <ion-item-option color='danger' expandable>Supprimer</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-item>
    </ion-list>
    <hr>
    <ion-list>
      <ion-list-header>
        <ion-label class="labels">Tâches terminées</ion-label>
      </ion-list-header>
      <ion-item-sliding *ngFor="let todo of toDoArchive">
        <ion-item class="task">
          <ion-checkbox type="checkbox" labelPlacement="start"
          (ionChange)="saveTasks()"
          [checked]="todo.done"
          [(ngModel)]="todo.done">
        </ion-checkbox>
        <ion-label class="taskTitle">{{ todo.title }}</ion-label>
        <img alt="Icône de tâche" src="../assets/icon/icon ({{todo.icon}}).svg" class="taskIcon" />
        </ion-item>
        <ion-item-options side="end"  (ionSwipe)="deleteTask(todo)">
          <ion-item-option color='danger'expandable>Supprimer</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-item>
      <ion-input name="newTask" type="text"
        [(ngModel)]="task.title"
        (ionBlur)="addTask('')"
        (keydown)="keyDetection($event.code)"
        placeholder="Ajouter une tâche...">
      </ion-input>
    </ion-item>
    <ion-fab>
      <ion-fab-button id="add">
        <ion-icon name="add" (click)="addTask('click')"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-app>
